
.Header {
  background-color: lightgray;
  color: aqua;
}

.Footer {
  background-color: lightgray;
  color: aqua;
}

.NotFound {
  background-image: url(./assets/notfound.jpeg);
  height: 600px;
  width: auto;
}

